<div class="content"><%= render :partial => 'photos/thumb',:collection => @photos, :as => :photo %></div>

<%= content_for :action_links do %>
<%= link_to "Show albums containing photos tagged with #{params[:q]}", albums_path(:q => params[:q],:class=>"link") if params[:q] %>
<%= link_to "Show all photos tagged with #{params[:tag_id]}", tag_photos_path(params[:tag_id],:class=>"link") if params[:tag_id] && params[:album_id] %>
<% end %>