<div id="footer" >
  <div class="container" style="margin-left: 40px;width: auto;">
    <div class="row">
      <div class="span3">
        <h4>Contact Us</h4>
        <div class="social-icons-row">
          <address>
            <strong>Jose</strong><br>
            <a href="mailto:#">jose.cse2009@gmail.com</a>   <br>
            <strong>Phone</strong><br>
            +91-9944285220
          </address>
        </div>
      </div>
      <div class="span">
        <br>
        <a href="http://twitter.com/me" class="twitter" title="Twitter link" target="_blank"></a>
      </div>
      <div class="span">
        <br>
        <a href="http://facebook.com/jose.josen.3" class="facebook" title="Facebook link" target="_blank"></a>
      </div>
      <div class="span">
        <br>
        <a href="http://facebook.com/jose.josen.3" class="gmail" title="gmail link" target="_blank"></a>
      </div>
  </div>
  <div style="text-align: center;"><%= Time.now.year %> &copy; JOSEVISIONON.COM</div>

</div>
<%= yield :javascript %>